* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.navbar{
    background-color: black !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.logo {
    height: 50px;
    width: auto;
}

nav a {
    margin-right: 50px;
}

nav a:hover {
    letter-spacing: 2px;
}


#home {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

#home img {
    width: auto;
    height: 200px;
}

.hide {
    display: none;
}


@media (max-width: 480px) {
    #home .card{
        display: block;
        margin: 10px auto;
    }

    #home .card img {
        width: 270px;
        display: block;
        margin: 5px auto;
    }
}