* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Roboto", serif;
}

.navbar{
    background-color: black !important;
}

.navbar-dark .navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3E%3Cpath stroke='white' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3E%3C/svg%3E");
}


.logo {
    height: 50px;
    width: auto;
}

.tabs {
    display: flex;
    gap: 30px;
    align-items: center;
}

.tabs li a{
    text-decoration: none;
    color: white;
}

.tabs li a:hover{
    cursor: pointer;
    padding-bottom: 5px;
    border-bottom: 2px solid white;
}

.rightnav {
    display: flex;
    gap: 15px;
}

.rightnav input {
    padding: 10px;
    border-radius: 15px;
}

.rightnav button {
    background-color: white;
    color: black;
    border-radius: 10px;
    width: 90px;
    font-size: 16px;
    font-weight: 800;
}

.rightnav button:hover {
    cursor: pointer;
    letter-spacing: 2px;
    /* border-bottom: 2px solid black; */
}

.space {
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}